<%- include('partials/header-dashboard') -%>
<body>
    <main>
        <div id="pie-chart-area">
            <div id="chart"></div>
        </div>
        <div id="table-area"></div>
        <div id="table-two-area"></div>
        <div id="table-three-area"></div>
        








        

        
    </main>
</body>
<%- include('partials/footer') -%>