<%- include('partials/header') -%>
  <!-- ========= NAV BAR: OSCAR & TYANA ================== -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-body-tertiary">
    <a class="navbar-brand" href="#">
      <img src="/imgs/coinNoBackground.png"  width="30" height="24">
    </a> 
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/graphs">Dashboard</a>
        <a class="nav-link" href="/expense">Expense</a>
        <a class="nav-link" href="/income">Income</a>
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>
  <div>
    <section>
      <form id="newExpense">
        <input name="expenseName" type="text" placeholder="Title" />
        <!-- EXPENSE CATEGORY [can connect to a DB database]-->
        <!-- Expense Back-End Team removed for loop as data is not reflected in the DB yet, and therefore, making the page crash. We kept the code, and once we know the collection name and have data to plug in, we will replug it into the EJS.-->
        <!-- Add input for month -->
        <input  min="1" step="any" class="form-control" name="expenseCost" type="number" placeholder="cost" />
        <span class="form-text">Is this a reoccuring expense?</span>
        <input name="isRecurring" type="radio" value="reoccuring" id="isRepeating" class="form-control"/>
        <label for="isRepeating" class="form-label">Yes</label>
        <input name="isRecurring" type="radio" value="oneTime" id="notRepeating" class="form-control"/>
        <label for="notRepeating" class="form-label">No</label>
        <input type="date" class="form-control" name="month"/>
        <button type="submit" class="btn btn-primary">Add</button>
        <button type="delete" class="btn btn-primary">Clear</button>
      </form>
    </section>
    <section>
      <img class="expenseImg"/>
    </section>
  </div>
</body>

<%- include('partials/footer') -%>
