<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-around mt-5">
    <a href="/login" class="col-3 btn btn-primary"> Login</a>
    <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
  </div>
</main>
<body>
  <div>
    <section>
      <form>
        <input name="expenseName" type="text" placeholder="Title" />
        <!-- EXPENSE CATEGORY [can connect to a DB database]-->
        <!-- Expense Back-End Team removed for loop as data is not reflected in the DB yet, and therefore, making the page crash. We kept the code, and once we know the collection name and have data to plug in, we will replug it into the EJS.-->
        <!-- Add input for month -->
        <input name="expenseCost" type="number" placeholder="cost" />
        <button>Add</button>
        <button>Clear</button>
      </form>
    </section>
    <section>
      <img />
    </section>
  </div>
</body>

<%- include('partials/footer') -%>
