<%- include('partials/header') -%>
<!-- ========= NAV BAR: OSCAR & TYANA ================== -->
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-body-tertiary">
  <a class="navbar-brand" href="#">
    <img src="/imgs/coinNoBackground.png" width="30" height="24">
  </a>
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/expense">Expense</a>
        <a class="nav-link" href="/income">Income</a>
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>
<main>
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">


              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">


  <div>
    <section>
      <form id="newExpense"  action="/expenses/createExpenses/" enctype="multipart/form-data" method="POST">
        <input name="expenseName" type="text" placeholder="Title" >
        <!-- EXPENSE CATEGORY [can connect to a DB database]-->
        <!-- Expense Back-End Team removed for loop as data is not reflected in the DB yet, and therefore, making the page crash. We kept the code, and once we know the collection name and have data to plug in, we will replug it into the EJS.-->
        <!-- Add input for month -->
        <input name="expenseCost" type="number" placeholder="cost" >
        <span>Is this a reoccuring expense?</span>
        <input name="isRecurring" type="radio" id="isRepeating" >
        <label for="isRecurring">Yes</label>
        <input name="isRecurring" type="radio" id="notRepeating" >
        <label for="notRepeating">No</label>
        <button type="submit">Add</button>
        <button>Clear</button>
      </form>
    </section>
    <section>
      <img />
    </section>
  </div>

                  <div class="col-lg-6">
                    <div class="text-center">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Track Your Expenses</h4>
                    </div>
                    <form id="newExpense" action="/expenses/createExpenses/" enctype="multipart/form-data" method="POST">
                      <input name="expenseName" type="text" placeholder="Title" />
                      <!-- EXPENSE CATEGORY [can connect to a DB database]-->
                      <!-- Expense Back-End Team removed for loop as data is not reflected in the DB yet, and therefore, making the page crash. We kept the code, and once we know the collection name and have data to plug in, we will replug it into the EJS.-->
                      <!-- Add input for month -->
                      <input min="1" step="any" class="form-control" name="expenseCost" type="number" placeholder="cost" />
                      <span class="form-text">Is this a reoccuring expense?</span>
                      <input name="isRecurring" type="radio" value="reoccuring" id="isRepeating" class="form-check" />
                      <label for="isRepeating" class="form-label">Yes</label>
                      <input name="isRecurring" type="radio" value="oneTime" id="notRepeating" class="form-check" />
                      <label for="notRepeating" class="form-label">No</label>
                      <input type="date" class="form-control" name="month" />
                      <button type="submit" class="btn btn-primary gradient-custom-2">Add</button>
                      <button type="delete" class="btn btn-primary">Clear</button>
                    </form>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <section class="incomeImg">
                      <img>
                    </section>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>





</main>

</body>


<%- include('partials/footer') -%>