<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-around mt-5">
    <a href="/login" class="col-3 btn btn-primary"> Login</a>
    <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
  </div>
</main>
<body>
  <div>
    <section>
      <form id="newExpense">
        <input name="expenseName" type="text" placeholder="Title" />
        <!-- EXPENSE CATEGORY [can connect to a DB database]-->
        <select name="ExpenseCategory">
          <% for(let i=0; i < categories.length; i++){ %>
          <option><%=categories.name %></option>
          <% } %>
          <option>Miscellaneous</option>
        </select>
        <input name="expenseCost" type="number" placeholder="cost" />
        <span>Is this a reoccuring expense?</span>
        <input type="radio" value="reoccuring" id="isRepeating" />
        <label for="isRepeating">Yes</label>
        <input type="radio" value="oneTime" id="notRepeating" />
        <label for="notRepeating">No</label>
        <button>Add</button>
        <button>Clear</button>
      </form>
    </section>
    <section>
      <img />
    </section>
  </div>
</body>

<%- include('partials/footer') -%>
