<%- include('partials/header') -%>

<main class="container">
  <div class="row justify-content-around mt-5">
    <a href="/login" class="col-3 btn btn-primary"> Login</a>
    <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
  </div>
</main>
<body>
  <!-- ========= NAV BAR: OSCAR & TYANA ================== -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-body-tertiary">
    <a class="navbar-brand" href="#">
      <img src="/imgs/coinNoBackground.png"  width="30" height="24">
    </a> 
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/graphs">Dashboard</a>
        <a class="nav-link" href="/expense">Expense</a>
        <a class="nav-link" href="/income">Income</a>
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>



  <div>
    <section>
      <form>
        <input name="expenseName" type="text" placeholder="Title" />
        <!-- EXPENSE CATEGORY [can connect to a DB database]-->
        <select>
          <% for(let i=0; i < categories.length; i++){ %>
          <option><%=categories.name %></option>
          <% } %>
          <option>Miscellaneous</option>
        </select>
        <input name="expenseCost" type="number" placeholder="cost" />
        <button>Add</button>
        <button>Clear</button>
      </form>
    </section>
    <section>
      <img />
    </section>
  </div>
</body>

<%- include('partials/footer') -%>
