<%- include('partials/header') -%>

<!-- ===================== NAVBAR: OSCAR AND TYANA =================== -->

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-body-tertiary">
	<a class="navbar-brand" href="#">
		<img src="/imgs/coinNoBackground.png"  width="30" height="24">
	</a> 
</div>
<div class="container-fluid">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-link active" aria-current="page" href="/">Home</a>
			<a class="nav-link" href="/about">About</a>
			<a class="nav-link" href="/mission">Mission</a>
			<a class="nav-link" href="/signup">Signup</a>
			<a class="nav-link" href="/login">Login</a>
		</div>
	</div>
</div>
</nav>



<div class="overflow-hidden">
	<div class="container-fluid px-4 py-9">
		<div class="row flex-lg-nowrap  g-5">
			<div id="heroPicture" class="order-lg-1 w-100">
				<img style="clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);" src="https://images.unsplash.com/photo-1618004912476-29818d81ae2e?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" class="d-block mx-lg-auto img-fluid" alt="Photo by Milad Fakurian" loading="lazy" srcset="https://images.unsplash.com/photo-1618004912476-29818d81ae2e?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768 1080w, https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=150 150w, https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=300 300w, https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=768 768w, https://images.unsplash.com/photo-1618004912476-29818d81ae2e??crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1024 1024w" sizes="(max-width: 1080px) 100vw, 1080px" width="2160" height="768">
			</div>
           
			<div class="col-lg-2 col-xl-5 text-center text-lg-start pt-lg-5 mt-xl-4">
				<div  id="heroText" class="lc-block ">
					<div editable="rich">
						<h1  class="fw-bold display-3 mt-5">COIN - Save For The Future.</h1>
					</div>
				</div>
            
				<div class="lc-block mb-5">
					<div editable="rich">
						<p class="rfs-8">Coin is a budgeting app that helps users track expenses and plan for the future. Our mission is to provide a comprehensive and user-friendly platform for financial management.</p>
					</div>
				</div>

				<div class="lc-block mb-6"><a class="btn btn-primary px-4 me-md-2 btn-lg" href="#" role="button">Sign Up</a>
                    <a class="btn btn-primary px-4 me-md-2 btn-lg" href="#" role="button">Login</a>
				</div>

			

		</div><!-- /lc-block -->
	</div>
</div>

<div class="container-fluid px-4 py-5 my-5 text-center">
	<div class="lc-block d-block mx-auto mb-4">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" width="5em" height="5em" lc-helper="svg-icon" fill="currentColor">
			<path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z"></path>
		</svg>
	</div>
	<div class="lc-block">
		<div editable="rich">

			<h2 class="display-5 fw-bold">Coin</h2>

		</div>
	</div>
	<div class="lc-block col-lg-6 mx-auto mb-4">
		<div editable="rich">

			<p class="lead ">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>

		</div>
	</div>

	<div class="lc-block d-grid gap-2 d-sm-flex justify-content-sm-center"> <a class="btn btn-primary btn-lg px-4 gap-3" href="#" role="button">Click me, I'm a button</a>
		<a class="btn btn-outline-secondary btn-lg px-4" href="#" role="button">Click me, I'm a button</a>
	</div>
</div>


<div class="d-flex container-fluid" lc-helper="background" style="height:50vh;background:url(https://images.unsplash.com/photo-1530466951295-f13b9bceb117?ixlib=rb-1.2.1&amp;q=90&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1980&amp;h=768&amp;fit=crop&amp;ixid=eyJhcHBfaWQiOjM3ODR9)  center / cover no-repeat;">
</div>
<div class="container p-5 bg-light" style="margin-top:-100px">
	<div class="row">
		<div class="col-md-4 text-center align-self-center">
			<div class="lc-block border-end border-2 ">
				<div editable="rich">
					<p class="display-4 text-secondary">WHY?</p>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
		<div class="col-md-8">
			<div class="lc-block ">
				<div editable="rich">
					<p class="display-4">Think different and create a wonderful kind of digital agency.</p>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
	<div class="row">
		<div class="col-md-9 offset-md-1">
			<div class="lc-block mt-5">
				<div editable="rich">
					<p class="lead text-secondary"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada placerat sit amet quis enim. Aliquam erat volutpat. In pellentesque scelerisque auctor.&nbsp;</p>
					<p class="lead text-secondary">Ut porta lacus eget nisi fermentum lobortis. Vestibulum facilisis tempor
						ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan iaculis. </p>
				</div>
			</div><!-- /lc-block -->
		</div><!-- /col -->
	</div>
</div>


    <%- include('partials/footer') -%>