<%- include('partials/header') -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">


  <body id="login">
    <main class="container">
      <div class="row justify-content-end">
        <section class="" id="loginsection">
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
              <div class="alert alert-danger">
                <%= el.msg %>
              </div>
              <% }) %>
                <% } %>
                  <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el=> { %>
                      <div class="alert alert-info">
                        <%= el.msg %>
                      </div>
                      <% }) %>
                        <% } %>
                        <h3>Sign in</h3>
                          <form action="/login" method="POST">
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="email" />
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                          </form>
                          <p>Need an account? <a href="/signup">Signup</a> Or go <a href="/">home</a>.</p>
        </section>
      </div>



    </main>
  </body>
  <%- include('partials/footer') -%>