<%- include('partials/header') -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <body id="signup">
    <main class="container">
      <div class="row justify-content-end">
        <section class="col-6 mt-5" id="signupsection">
          <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el=> { %>
              <div class="alert alert-danger">
                <%= el.msg %>
              </div>
              <% }) %>
                <% } %>
                  <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el=> { %>
                      <div class="alert alert-info">
                        <%= el.msg %>
                      </div>
                      <% }) %>
                        <% } %>
                          <form action="/signup" method="POST">
                            <div class="mb-3">
                              <label for="userName" class="form-label">User Name</label>
                              <input type="text" class="form-control" id="userName" name="userName">
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" name="email">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="mb-3">
                              <label for="confirmPassword" class="form-label">Confirm Password</label>
                              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                            </div>
                            <button type="submit" class="btn btn-outline-light">Submit</button>
                          </form>
                          <p>Already have an account? <a href="/login">Login</a> Or go <a href="/">home</a>.</p>

        </section>
      </div>
    </main>
  </body>
  <%- include('partials/footer') -%>