/* universal */

#link {
    text-decoration: none;
    color: black;
}

/* partial: header */
.partialsheadertext {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 75px;

}

.headersubtext {
    font-family: 'Corben', cursive;
    font-weight: 700;
    color: lightgray;
}

#link:hover {
    color: orange;
}

/* END partial: header */



/* login */
#login {
    background-image: url(./loginsignup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#loginsection {
    width: 30%;
    color: white;
    margin-top: 10%;
}

/* end login */

/* signup */
#signup {
    background-image: url(./loginsignup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#signupsection {
    width: 30%;
    color: white;
    margin-top: 5%;
}
#heroPicture{
    background-color: rgb(238, 255, 253);
}

/* end signup */

/* index */
#index {
    background-image: url(./index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.orderform {
    color: white;
    margin-bottom: 3%;
}

.indexformcontainer {
    display: flex;
    justify-content: center;
    margin-left: 15%;
}
#heroText{
   margin-top: 40%;
}

/* end index */

/* card */

.card {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
}

.card-header {
    height: 30%;
    background: orange;
    color: white;
    text-align: center;
}

.order-container {
    padding: 2px 16px;
}

/* end card */

/* feed */
#feed {
    background-image: url(./index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pendorder {
    color:white;
}
#coffeeorder {
    color:white;
}
.left {
    width: 48%;
}
.right {
    width: 48%;
}

/* end feed */

/* CHART */
#chart {
    border-top: none;
    flex-grow: 1;
    height: 700px;
    width: 700px;
    margin: 5%;
    background-color: #21313c;
  }
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */

/*  */
/*  */